{% extends 'base.html.twig' %}

{% block body %}
    <h1>Serrurier list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Societe</th>
                <th>Telephone</th>
                <th>Adresse</th>
                <th>Ville</th>
                <th>Codepostal</th>
                <th>Email</th>
                <th>Password</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for serrurier in serruriers %}
            <tr>
                <td><a href="{{ path('serrurier_show', { 'id': serrurier.id }) }}">{{ serrurier.id }}</a></td>
                <td>{{ serrurier.nom }}</td>
                <td>{{ serrurier.prenom }}</td>
                <td>{{ serrurier.societe }}</td>
                <td>{{ serrurier.telephone }}</td>
                <td>{{ serrurier.adresse }}</td>
                <td>{{ serrurier.ville }}</td>
                <td>{{ serrurier.codePostal }}</td>
                <td>{{ serrurier.email }}</td>
                <td>{{ serrurier.password }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('serrurier_show', { 'id': serrurier.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('serrurier_edit', { 'id': serrurier.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('serrurier_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
