{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des Serruriers</h1>

    <div class="panel">

    <table class="table-responsive">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Societe</th>
                <th>Telephone</th>
                <th>Email</th>
                <th>Adresse</th>
            </tr>
        </thead>
        <tbody>
        {% for serrurier in serruriers %}
            <tr>
                <td>{{ serrurier.nom }}</td>
                <td>{{ serrurier.prenom }}</td>
                <td>{{ serrurier.societe }}</td>
                <td>{{ serrurier.telephone }}</td>
                <td>{{ serrurier.email }}</td>
                <td>Adresse</td>
                <td>
                    <ul>
                        <li>
                            <a class="btn" href="{{ path('serrurier_show', { 'id': serrurier.id }) }}">En détails</a>
                        </li>
                        <li>
                            <a class="btn" href="{{ path('serrurier_planning', { 'id': serrurier.id }) }}">Son planning</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        <ul>
            <li>
                <a class="btn" href="{{ path('serrurier_new') }}">Create a new entry</a>
            </li>
        </ul>
    </div>

{% endblock %}
