<!-- Created by Solene ERNOUL -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Serrurier Symfony!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {% stylesheets '@bootstrap_css' filter='cssrewrite' output='css/we_are_creex/bootstrap.css' %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
        {% endstylesheets %}
        <link rel="icon" type="image/x-icon" href="{{ asset('serrurier-project/images/favicon-serrurier-project.ico') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('serrurier-project/css/style.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('fullcalendar-3.0.1/fullcalendar.css') }}">
        {#<script src="{{ asset('js/jquery-3.1.1.min.js') }}"></script>#}
        <script src="{{ asset('fullcalendar-3.0.1/lib/jquery.min.js') }}"></script>
        <script src="{{ asset('fullcalendar-3.0.1/lib/moment.min.js') }}"></script>
        <script src="{{ asset('fullcalendar-3.0.1/fullcalendar.min.js') }}"></script>
        <script src="{{ asset('serrurier-project/js/custom.js') }}"></script>


    </head>
    <body>
        {% include 'header.html.twig' %}
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script>

                $dropdown = $('#dropdown-account');

                $dropdown.on('click',function(){
                    $(this).data('clicked', false);
                    console.log('clicked1');
                });

                $('#account').on('click',function() {
                    $(this).data('clicked', true);
                    if (!$dropdown.hasClass('active')) {
                        $('#dropdown-account').addClass('active');
                        console.log('clicked2');
                    }
                    if (!$dropdown.hasClass('active')) {
                        $('#dropdown-account').removeClass('active');
                        console.log('clicked2');
                    }
                    else if (!$dropdown.data('clicked')) {
                        console.log('clicked3');
                    }
                    else {
                        $('#dropdown-account').removeClass('active');
                        console.log('clicked4');
                    }
//                    console.log('userboxClicked');
                });


//                $('body').on('click',function(){
////                    console.log('click body');
//                    if ($dropdown.hasClass('active')) {
//                        if (!$dropdown.data('clicked')) {
//                            $dropdown.removeClass('active');
//                            console.log('click out drop down');
//                        }
//                        console.log('Dropdown-account already active');
//
//                        if ($dropdown.data('clicked')) {
//                            $('#dropdown-account').addClass('active');
//                            console.log('clicked2');
//                            $dropdown.data('clicked', false);
//
//                            $('#account').data('clicked', false);
//                        }
//                    }
//
//                    else if ($('#account').data('clicked')) {
//                        $('#dropdown-account').addClass('active');
//                        $('#button-userbox').data('clicked', false);
//                        console.log('Dropdown-account active');
//                    }
//
//                });
                </script>

        {% endblock %}
        {% javascripts '@jquery' '@bootstrap_js' output='js/forever_creex/dependencies.js'%}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% include 'footer.html.twig' %}
    </body>
</html>