<header>
    <nav>
        <h1><a href="{{ path('page_homepage') }}">Serrurier Symfony</a></h1>
        <ul id="nav-bar">
            <li>
                <a href="{{ path('page_homepage') }}">Accueil</a>
            </li>
            <li id="account">
                {% if app.user %}
                    Mon Compte
                    <div id="dropdown-account" class="">
                        <ul>
                            <li><a href="{{ path('fos_user_profile_show') }}">Mon profil</a></li>
                            <li><a href="{{ path('fos_user_security_logout') }}">Deconnexion</a></li>
                        </ul>
                    </div>
                {% else %}
                    <!--<li id="button-userbox"><a>Se connecter</a>
                        <?php include_once('theme/sea-theme/connexionDropDown.php'); ?>
                    </li>-->
                    <a href="{{ path('fos_user_security_login') }}">Connexion</a>
                {% endif %}
            </li>
        </ul>
    </nav>
</header>